<ion-header>
  <ion-toolbar>
    <ion-title>Update Dados</ion-title>
  </ion-toolbar>
</ion-header>

 

<ion-content style="color:white">
  <form  novalidate>
  <ion-card-content>
  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Nome do artista"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="text" placeholder="Nome do album"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagem</ion-label>
      <ion-input type="file" placeholder="Imagem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Audio</ion-label>
      <ion-input type="file" placeholder="Audio"></ion-input>
    </ion-item>
    <ion-item>     
      <ion-button type="submit" expand="block" 
      >Enviar</ion-button
    >
          
    </ion-item>
  </ion-list>
  </ion-card-content>
  </form>
</ion-content>
