<ion-header>
  <ion-toolbar>
    <ion-title>inserir Novo Artista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card-content>
    <form #form="ngForm" (ngSubmit)="logForm(form)">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="todo.name" name="name" ngControl="name" placeholder="Nome do artista"></ion-input>
    </ion-item>
   
    <!-- <ion-item>
      <ion-label position="floating">Imagem</ion-label>
      <ion-input type="file" placeholder="Imagem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Audio</ion-label>
      <ion-input type="file" placeholder="Audio"></ion-input>
    </ion-item> -->
    <ion-item>     
      <ion-button type="submit" expand="block" 
      >Enviar</ion-button
    >
          
    </ion-item>
  </ion-list>
  </form>
  </ion-card-content>

</ion-content>
